.Body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Body-img {
  width: 95%;
  box-shadow: 5px 5px 10px 2px #808080;
}

.Body .content {
  width: 100%;
  padding: 30px 30px 60px;
  box-sizing: border-box;
  text-align: center;
}

.Body-title {
  font-size: 50px;
}

.Body-description {
  font-size: 30px;
}

.ShowBtn {
  width: 150px;
  height: 50px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 1px #808080;
  border: 1px solid #000000;
  background-color: #ffffff;
  color: #000000;
}

.ShowBtn:hover {
  border: none;
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
}

.products-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  margin-top: 50px;
}