.Body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Body .content {
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
}

.Body img {
  max-width: 95%;
  box-shadow: 5px 5px 10px 2px #333333;
}

.Body h1{
  font-size: 50px;
}

.Body h2{
  font-size: 30px;
}