.Body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Body .content {
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
}

.Body-title {
  font-size: 50px;
}

.Body-description {
  font-size: 30px;
}

.products-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  margin-top: 50px;
}